.DS_Store
*.h5ad
*.txt
*.gz
*.tsv
Brain_Saunders2018/*.png
Brain_Cusanovich2018/*.png
Bone_Marrow_Cusanovich2018/*.png
benchmarking/Real_Data/*.png
benchmarking/Synthetic_Data/*.png
*tbi
docs/_build
docs/api/episcanpy.api.*.rst
docs/api/episcanpy.*.rst
!docs/api/episcanpy.api.rst
!docs/api/episcanpy.api.AnnData.rst
!docs/api/episcanpy.plotting.rst
.pytest_cache/
.episcanpy
.coverage
figures/
cache/
coverage.xml
episcanpy.egg-info/
README.html
*.icloud
# always-ignore extensions
*~

# Python / Byte-compiled / optimized / DLL
__pycache__/
episcanpy/__pycache__/
*.py[cod]
*.so
.cache

# OS or Editor files and folders
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
/.idea/

# always-ignore directories
/dist/
/build/
/_build/
/_static/
/_templates/
/__pycache__/
.Rproj.user
epiScanpy.Rproj
.Rhistory

